<header>
	<section id="top" padding="">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="contact-action"><i class="fa fa-phone-square"></i> <strong>Welcome to FPTBook by Group 4</strong></p>
				</div>
				<div class="col-md-3 clearfix">
					<ul class="login-cart">
						<li>
							<a data-toggle="modal" data-target="#myModal" href="/login">
							<i class="fa fa-user"></i>
								Login
							</a>
						</li>
						<li>
							<div class="cart dropdown">
						  		<a data-toggle="dropdown" href="/shoppingcart"><i class="fa fa-shopping-cart"></i>Cart</a>		  
										    
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<div class="search-box">
						<div class="input-group">
					    	<input placeholder="Search Here" type="text" class="form-control">
					      	<span class="input-group-btn">
					        	<button class="btn btn-default" type="button"></button>
					      	</span>
					    </div><!-- /.input-group -->
					</div><!-- /.search-box -->
				</div>
			</div> <!-- End Of /.row -->
		</div>	<!-- End Of /.Container -->
</header>	
	